
body {
    background-attachment: fixed;
    background-color: #ffffff;
    color: #6f7074;
    font-family: 'Fira Sans', sans-serif;
    font-family: ''Montserrat'', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.642;
    overflow-x: hidden;
    transition: inherit;
    -webkit-font-smoothing: antialiased; }

h1{
font-family: ''Montserrat'';
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 56px;
text-transform: uppercase;
color: #B30F56;

}
.landing_bg{

    background-size: cover;
    padding: 0px;

}

.landing_bg img{
    width: 100%;
}

.counter-row{

    position: absolute;
    top: -118px;
    

}

.eqry-form{

    position: absolute;
    top: 229px;
    right: 228px;
}




.counter-column {
    position: relative;
    margin-bottom: 50px;
}
.count-text{
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 1em;
    color: #FFD92A;
    text-shadow: 10px 10px 10px rgb(0 0 0 / 10%);
    font-weight: 600;
    margin-bottom: 10px;
}

.counter-title {
    position: relative;
    display: block;
    font-size: 9px;
    line-height: 14px;
    font-weight: 500;
    color: #FFFFFF;
}

#enquire_form {
    background: #fff;
    padding: 20px 30px;
    border-radius: 14px;
    font-family: ''Montserrat'', sans-serif;
    -webkit-box-shadow: 0px 0px 20px rgb(0 0 0 / 17%);
    box-shadow: 0px 0px 20px rgb(0 0 0 / 17%);
    border-radius: 14px;
}
/* .bottom-right {
    position: absolute;
    bottom: -60px;
  
    padding: 0;
    margin: 0 auto;
} */


.form_txt {
    color: #c70a4b;
    font-size: 20px !important;
    font-family: ''Montserrat'', sans-serif;
}


.form-check {
    text-align: left;
    font-size: 11px;
    font-family: ''Montserrat'';
    font-weight: 500;
    margin-bottom: 1rem;
}



.submit_button {
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 15px;
    border: 1px solid #AF0C3E;
    background: #FFFFFF;
    color: #AF0C3E;
    padding: 10px;
    width: 100%;
    font-family: ''Montserrat'', sans-serif;
    font-weight: 600;
}


.nav_bg{
        background-color: #FFFFFF;

}


.navbar-light .navbar-nav .nav-link {
    color: #656565;
}





/* second section starts */

.lispum-gen h1{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;
    text-transform: uppercase;
    color: #AF0C3E;
}

/* second section ends*/







/* campus section */

.banner_bg{
    background-image:url(images/bg1.png) ;
}


.row-background1.right {
    right: 0;
}

.row-background {
    position: absolute;
    width: 50%;
    bottom: 0;
    height: 100%;
}

.partner{
    background-color: #FAEDED;
    padding: 5%;
}


.client img{

    padding: 11px;
}
.border-line{

    border-right: 0.5px solid rgba(0, 0, 0, 0.66);
    border-bottom: 1px solid;
}

.border-line-custum{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.66);
}

.border-line-left{
    border-left: 0.5px solid rgba(0, 0, 0, 0.66);
}

.campus_lispm{
    position: absolute;
    right: 146px;
    bottom: 81px;

}

.campus_lispm h1{
font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 64px;
text-transform: uppercase;

color: #FFFFFF;
}
.campus_lispm p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    color: #FFFFFF;
}





/* campus section ends */




/* interest starts */

.intrest{
    margin-top: 16%;
    margin-bottom: 7% !important;
}


.intrest .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    border-radius: 30px;
    width: 286px;
    height: 52px;
}


.intrest h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;
    text-transform: uppercase;
    color: #AF0C3E;
}

.intrest ul li {

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 38px;

color: #262626;

}

/* interest ends */




/* dual degree starts*/

.dual-degree{
    /* outline: 2px solid black;
    background-size: 100%;
    padding: 24em; */
    background-image: url(images/amrita_univerty1.png);
    background-color: #B6083D;
    /* background-repeat: no-repeat; */
}

.block-entry {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 596px;
}



.block-entry .container {
    max-width: 100%;
    position: relative;
}


.cell-view.simple-banner-height.big {
    height: 800px;
}


.dual-degree h1{
font-family: 'Montserrat';
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 56px;
text-transform: uppercase;

color: #FFFFFF;
}

.dual-degree p{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 36px;
/* or 138% */


color: #FFFFFF;
}

.cell-view {
    display: table-cell;
    vertical-align: middle;
    width: 10000px;
}

.cell-view h1,p{
    color: #FFFFFF;
}

.row-background.right {
    right: 0;
}

.row-background {
    position: absolute;
    width: 51%;
    bottom: 0;
    height: 117%;
}


.dual-degree-colm{
    margin-left: 8%;
}

/* vdo */




/* .nopadding{
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}


.thumbnail{

    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 19%;
}
.rounded-image{
    background-size: cover;
    background-position: right top;
    position: relative;
} */




/* key deff */



.divider_home1 h1{
    font-family: ''Montserrat'';
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 56px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.divider_home1 h5{

font-family: ''Montserrat'';
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #EEEEEE;

}
.btn-outline-danger {
    color: #B10F56;
    border-color: #B10F56;
    font-weight: 600;
}
.btn-outline-danger:hover {
    color: #fff;
    background-color: #b10f56;
    border-color: #b10f56;
}
.divider_home1:before {
    background: linear-gradient(99.79deg, #A4123F 16.57%, #AF0C3E 93.88%)!important;
}


.divider_home1:before {
    background-color: rgba(25, 38, 117, 0.8);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


.divider_home1, .divider_home2 {
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
    padding: 130px 0;
    position: relative;
}


.parallax {
    background-attachment: scroll;
    background-position: 50% 0px;
    z-index: 1;
    position: relative;
}
.main-title {
    position: relative;
    margin-bottom: 60px;
}


.main-title h3 {
    display: inline-block;
    font-family: ''Montserrat'';
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: bolder;
    font-size: 38px;
    line-height: 48px;
    color: #2e2d2c;
    text-transform: uppercase;
}



.pro_icon_block {
    padding: 20px 0;
}



.funfact_one .icon {
    color: #ffffff;
    font-size: 70px;
    line-height: initial;
}


.funfact_one .details h5 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 0;
}


.pr-icon h5 {
    font-family: ''Montserrat'' !important;
    font-weight: 500;
    padding-top: 10px;
}


/* join starts */

.join-amr p{
font-family: ''Montserrat'';
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
text-align: center;

color: #000000;
}




.separator{
    display:flex;
    align-items: center;
  }
  
  .separator .line{
    height: 3px;
    flex: 1;
    background-color: #000;
  }
  
  .separator h2{
    padding: 0 2rem;
  }
/* join ends */

/* testmo */

.testu{
    /* outline: 2px solid black;
    background-size: 100%;
    padding: 24em; */

    background-color: #E5E5E5;
    /* background-repeat: no-repeat; */
}

blockquote{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 35px;
    color: #7A7676;
    margin: .5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    padding: 10px 20px;
  }
  blockquote:before {
    content: open-quote;
  /*   display: inline; */
  /*   height: 0; */
    line-height: 0;
    left: -10px;
    position: relative;
    top: 30px;
    color: #FFD92A;
    font-size: 3em;
  }

.testu p{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 35px;
color: #7A7676;
}

.author-name{
float: right;
}

.author-name h5{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 35px;
color: #A4123F;
}


.author-name p {
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
color: #6D6D6D;

}


.testim-author img{
    position: absolute;
    top: 175px;
    left: 100px;
}


/* footer */

.footer-block{
    background: linear-gradient(90deg, #B10F56 2.8%, #D00846 96.83%);
    padding: 60px 0;
}
.footer-block .container{
    max-width: 100%;
    position: relative;
}
.footer-block h1{
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 27px;
text-transform: uppercase;
color: #FFFFFF;

}
.footer-block button{
    border-radius: 21px;
    width: 153px;

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
text-align: center;
letter-spacing: 0.738462px;
text-transform: uppercase;

color: #FFFFFF;

}



.footer_one.home4 {
    background: #FDF8F9;
    padding: 100px 0;
}

.footer-logo-links ul li {

    line-height: 40px;
    color: #262626;
}

.footer-logo-links ul li a{

    color: #262626;
    font-weight: 500;
}



.footer_one.home4 h4 {
    font-weight: 600;
    font-family: 'Montserrat';
    font-size: 16px;
    color: #ba0e52;
}


.footer_contact_widget li a, .footer_company_widget li a, .footer_program_widget li a, .footer_support_widget li a {
    color: #7f7676;
    font-size: 13px;
    line-height: 38px;
    font-weight: 500;
}


.newssletter p{

    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 19px;
/* or 158% */


color: #262626;
}


.single-line-form {
    position: relative;
}

.simple-input {
    background: #fff;
}


.simple-input, .SumoSelect > .CaptionCont {
    font-size: 14px;
    color: #555;
    height: 50px;
    line-height: 48px;
    padding: 0 30px;
    width: 100%;
    border: 1px #eee solid;
    border-radius: 26px;
    -webkit-border-radius: 26px;
    transition: all .15s;
    -webkit-transition: all .15s;
}

.single-line-form .button {
    position: absolute;
    top: 0;
    right: 0;
}

.button.style-3 {
    background: linear-gradient(90deg, #B10F56 2.8%, #D00846 96.83%);
    border-radius: 20px;
    color: #fff;
}

.button.size-2 {
    font-size: 11px;
    line-height: 18px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
}

.button {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    -webkit-box-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
    box-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    cursor: pointer;
}

.button span {
    display: block;
    position: relative;
    left: 0;
}

.button-wrapper {
    display: block;
    overflow: hidden;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    position: relative;
}

.button.style-3 .icon, .button.style-4 .icon {
    color: #fff;
}

.button span.icon {
    transition: all .15s;
    -webkit-transition: all .15s;
}

.button .icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    left: -50px;
    top: 50%;
    margin-top: -15px;
    margin-left: -15px;
    color: #b8cd06;
}

.button.size-2 .text {
    padding: 17px 30px 15px 30px;
}

.button span.text {
    transition: all .3s .05s;
    -webkit-transition: all .3s .05s;
}